
p{
  margin: 0px;
  text-align: center;
  padding-bottom: 10px;

}

.body{
  display: flex;
  justify-content: center;

}
.navbar{
  background: rgb(255, 84, 84);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items{
  width: 80%;
  height: 92vh;

}

.information{
  width: 50%;
  height: 92vh;
  background-color: blueviolet;
}

.item{
  transition: 400ms;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid rgb(255, 84, 84);

  display: flex;
  flex-direction: column;
  cursor: pointer;
 
}

.item:hover{
  transition: 400ms;
  background-color: rgb(255, 84, 84);
  color: white;
}

.item img{
  width: 120px;
  height: 120px;
}

.bar-search{
  width: 500px;
  padding: 10px 15px; 
  border: none;
  border-bottom: 3px solid rgb(255, 84, 84);
  background: transparent;
  outline: none;
}

.grid-items{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.BotonPaginador{
  border: none;
  cursor: pointer;
  border: 1px solid black;
  padding: 8px 10px;
  margin: 2px;
  border-radius: 10px;
}

.BotonPaginador:hover{
  transition: 400ms;
  background-color: rgb(255, 84, 84);
  color: white;
}

.Poke{
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}